.latestjob{
    flex: 4;
    padding: 0 20px;
}

.latestob_edit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: #fff;
    cursor: pointer;
    margin-right: 50px;
}

.latestob_delete{
    color: red;
    cursor: pointer;
}

.latestjob .MuiDataGrid-root .MuiDataGrid-footerContainer{
    justify-content: center!important;
}

.latestjob .MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
    font-weight: 700;
    font-size: 16px;
}

.latestjob .MuiDataGrid-cell.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell--textLeft:focus,
.latestjob .MuiDataGrid-cell.MuiDataGrid-cell--textLeft:focus,
.latestjob .MuiDataGrid-cell.MuiDataGrid-cellCheckbox.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell--textCenter:focus{
    outline: none;
}